<h1> Complains </h1>

<% @complains.each do |complain| %>
  <h3>Pedido: <%= link_to complain.order, complain %> </h3>
  <p>Endereço de Entrega: <%= complain.shipping_zipcode %> </p>
  <hr />
<% end %>
