<h1> Reclame aí e nos informe seu problema</h1>

<%= form_for @complain do |c| %>
  <p>
  <%= c.label :name %> <br />
  <%= c.text_field :name %> <br />
  </p>

  <p>
    <%= f.submit "ReclameAí" %>
  </p>
<% end %>
