<h1> Reclame Aí! </h1>
<div class="row">
Looks like a airplane, without wings. Doc, I'm from the future. I came here in a time machine that you invented. Now, I need your help to get back to the year 1985. Wow, you must be rich. Now Biff, don't con me. Hey, not too early I sleep in on Saturday. Oh, McFly, your shoe's untied. Don't be so gullible, McFly. You got the place fixed up nice, McFly. I have you're car towed all the way to your house and all you've got for me is light beer. What are you looking at, butthead. Say hi to your mom for me.
</div>

<hr />

<h2> Sobre </h2>
<div class="row">
    <div class="col-sm-8">
      <p>That's a great idea. I'd love to park. Really. The flux capacitor. Alright, I'm ready. Whoa, wait a minute, Doc, are you telling me that my mother has got the hots for me?</p>

      <p> Einstein, hey Einstein, where's the Doc, boy, huh? Doc Of course I do. Just a second, let's see if I could find it. I swiped it from the old lady's liquor cabinet. Wrecked? When did this happen and- Hey, McFly, I thought I told you never to come in here. Well it's gonna cost you. How much money you got on you?</p>

      <p> Hey man, look at Marvin's hand. He can't play with his hands like that, and we can't play without him. Oh. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking. It's uh, the other end of town, a block past Maple. Well, it will just happen. Like the way I met your father.</p>
    </div>

    <div class="col-sm-4">
      <%= image_tag("teste.jpg") %>
    </div>
</div>

<hr />


<div class="row">
  <p>C'mon, more, dammit. Jeez. Holy shit. Let's see if you bastards can do ninety. What? Yeah. Get out of town, I didn't know you did anything creative. Ah, let me read some. Um, well it's a delorean, right?</p>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= link_to "Reclame Aí", new_complain_path, :class => "button btn btn-primary btn-lg" %>
  </div>
  <div class="col-md-4"></div>
</div>
</div>



