<footer class="footer navbar-fixed-bottom ">
  <span class="text-muted"> 
    This page is licensed to the public under a Creative Commons Attribution 4.0 license - ReclameAí 2019 - cc
  </span>
</footer>
