<div id="user_header">
  <% if logged_in? %>
    <%= link_to 'Orders', orders_path %>
    <%= link_to 'Logout', logout_path %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Log In", login_path %>
  <% end %>
</div>

<hr />

